@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

body {
  font-weight: 500;
  font-family: "Concert One", "Noto Sans TC", sans-serif;
  .container {
    width: 100%;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
  }
}
