@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

html,
body {
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  font-family: "Concert One", "Noto Sans TC", sans-serif;

  .container {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
  }
  
  @include lg {
    .container {
      padding-right: 8rem;
      padding-left: 8rem;
    }
  }
}

// .q-page-container{
//   height: calc(100vh - 50px);
// }

// .q-page{
//   height: 100%;
// }
